body {
  height: 100%;
  width: 100%;
}

.faceShape {
  font-size: 900px;
  margin: 0px;
  width: 100%;
  text-align: center;
  letter-spacing: 70px;
  z-index: 1;
  position: absolute;
}

.div1 {}

.rightGlass {
  font-size: 400px;
  font-weight: 300;
  margin-top: 10%;
  margin-left: 65%;
  transform: rotate(90deg);
  z-index: 2;
  display: inline-block;
  position: absolute;
}

.rightEye {
  font-size: 400px;
  font-weight: 300;
  margin-top: 10%;
  margin-left: 31%;
  z-index: 3;
  display: inline-block;
  position: absolute;
}

.smile {
  font-size: 400px;
  font-weight: 300;
  margin-top: 50%;
  margin-left: 45%;
  transform: rotate(90deg);
  z-index: 4;
  position: absolute;
}

.leftGlass {
  font-size: 400px;
  font-weight: 300;
  margin-top: 10%;
  margin-left: 25%;
  transform: rotate(90deg);
  z-index: 2;
  position: absolute;
}

.leftEye {
  font-size: 400px;
  font-weight: 300;
  margin-top: 10%;
  margin-left: 57%;
  z-index: 3;
  position: absolute;
}

.div2 {
  display: inline-block;
  position: absolute;
  width: 50%;
}

.div3 {
  display: inline-block;
  position: absolute;
  width: 50%;
}

body {
  background-color: aqua;
  border: 10px solid teal;
  position: absolute;
}
